#cajaPrincipal {
background-color: blue;
height: 50px;
width: 50px;
border-radius: 5px;
transform: skew(300deg, 20deg);
rotate: 100deg;




}

.cajas {
    background-color: pink;
    height: 100px;
}